:root {
  --color-primary: #fe4066;
  --color-secondary: #c5fe40;
  --color-ternary: #22242a;
  // --color-primary: #22242a;
  // --color-secondary: #19b3d3;
  // --color-ternary: #22242a;
}

html,
body {
  height: 100%;
}

// body {
//   font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
//     Lucida Grande, sans-serif;
// }
