.sidebar {
  background-color: #eee;
  .sidebar-sticky {
    .sidebar-heading {
      padding: 0px !important;
      padding: 0.5rem 0.5rem;

      span {
        padding-left: 10px;
      }

      .nav-link {
        padding: 0.5rem 0.5rem;
      }
    }

    .flex-column {
      .nav-item {
        .nav-link {
          font-weight: 500;
          color: var(--color-ternary);
          padding: 0.5rem 0.5rem 0.5rem 0.5rem;
          display: inline-block !important;

          span {
            padding-left: 0.5rem;
          }
        }

        .nav-link.active {
          color: #007bff;
          padding: 0.5rem 1rem 0.5rem 1.5rem;
        }

        .nav-link:hover {
          color: var(--color-primary);
        }
      }
    }

    .sidebar-heading {
      padding-left: 20px;
    }
  }
}
